<!DOCTYPE html>
<html>
  <head>
    <title>SnowWolfJS</title>
  </head>
  <body>
    <% if(authUser) { %>
      <p><img src="<%= authUser.avatar %>" style="border-radius: 100%; width: 32px; height: 32px; vertical-align: middle;" alt="<%= authUser.id %>"> <%= authUser.username %></p>
    <% } else { %>
      <p>Not logged in</p>
    <% } %>
  </body>
</html>
